@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?db5ia9');
  src:  url('fonts/icomoon.eot?db5ia9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?db5ia9') format('truetype'),
    url('fonts/icomoon.woff?db5ia9') format('woff'),
    url('fonts/icomoon.svg?db5ia9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-talk .path1:before {
  content: "\e912";
  color: rgb(254, 224, 80);
}
.icon-talk .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(30, 37, 43);
}
.icon-talk .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(30, 37, 43);
}
.icon-talk .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(175, 132, 0);
}
.icon-talk .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(195, 198, 200);
}
.icon-talk .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(51, 62, 72);
}
.icon-talk .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(51, 62, 72);
}
.icon-talk .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(51, 62, 72);
}
.icon-talk .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(51, 62, 72);
}
.icon-studying .path1:before {
  content: "\e91b";
  color: rgb(175, 185, 210);
}
.icon-studying .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-studying .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(91, 93, 110);
}
.icon-studying .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(70, 70, 85);
}
.icon-studying .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(225, 195, 160);
}
.icon-studying .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(235, 210, 175);
}
.icon-studying .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(235, 210, 175);
}
.icon-studying .path8:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(240, 220, 190);
}
.icon-studying .path9:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(225, 195, 160);
}
.icon-studying .path10:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(185, 150, 120);
}
.icon-studying .path11:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(185, 150, 120);
}
.icon-studying .path12:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(185, 150, 120);
}
.icon-studying .path13:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(225, 195, 160);
}
.icon-studying .path14:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(112, 116, 135);
}
.icon-studying .path15:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-studying .path16:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-studying .path17:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(199, 207, 226);
}
.icon-studying .path18:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-studying .path19:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(175, 185, 210);
}
.icon-studying .path20:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(149, 156, 179);
}
.icon-studying .path21:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(149, 156, 179);
}
.icon-chat .path1:before {
  content: "\e930";
  color: rgb(108, 171, 202);
}
.icon-chat .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(153, 230, 252);
}
.icon-chat .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(98, 219, 251);
}
.icon-chat .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(253, 128, 135);
}
.icon-chat .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(251, 43, 58);
}
.icon-chat .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(254, 228, 90);
}
.icon-chat .path7:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(254, 223, 48);
}
.icon-chat .path8:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(108, 245, 194);
}
.icon-chat .path9:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 242, 166);
}
.icon-chat .path10:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(254, 228, 90);
}
.icon-chat .path11:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(254, 223, 48);
}
.icon-chat .path12:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(253, 180, 65);
}
.icon-chat .path13:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(253, 180, 65);
}
.icon-chat .path14:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(253, 180, 65);
}
.icon-chat .path15:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(254, 228, 90);
}
.icon-chat .path16:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 189, 134);
}
.icon-chat .path17:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(254, 193, 101);
}
.icon-chat .path18:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(246, 169, 108);
}
.icon-chat .path19:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(254, 228, 90);
}
.icon-chat .path20:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(254, 223, 48);
}
.icon-chat .path21:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(253, 180, 65);
}
.icon-chat .path22:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(253, 180, 65);
}
.icon-chat .path23:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(253, 180, 65);
}
.icon-chat .path24:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(108, 245, 194);
}
.icon-chat .path25:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 189, 134);
}
.icon-chat .path26:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 242, 166);
}
.icon-chat .path27:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(246, 169, 108);
}
.icon-chat .path28:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(108, 245, 194);
}
.icon-chat .path29:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 242, 166);
}
.icon-chat .path30:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(14, 210, 144);
}
.icon-chat .path31:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(14, 210, 144);
}
.icon-chat .path32:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(14, 210, 144);
}
.icon-chat .path33:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(254, 100, 111);
}
.icon-chat .path34:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 189, 134);
}
.icon-chat .path35:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(251, 43, 58);
}
.icon-chat .path36:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(246, 169, 108);
}
.icon-parents .path1:before {
  content: "\e954";
  color: rgb(180, 230, 110);
}
.icon-parents .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(250, 208, 152);
}
.icon-parents .path3:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(215, 175, 125);
}
.icon-parents .path4:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 225, 180);
}
.icon-parents .path5:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(250, 208, 152);
}
.icon-parents .path6:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(215, 175, 125);
}
.icon-parents .path7:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(100, 70, 60);
}
.icon-parents .path8:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(100, 70, 60);
}
.icon-parents .path9:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(213, 159, 99);
}
.icon-parents .path10:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(160, 215, 85);
}
.icon-parents .path11:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(160, 215, 85);
}
.icon-parents .path12:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(205, 145, 90);
}
.icon-parents .path13:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 220, 100);
}
.icon-parents .path14:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 220, 100);
}
.icon-parents .path15:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 220, 100);
}
.icon-parents .path16:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(160, 215, 85);
}
.icon-parents .path17:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(120, 85, 70);
}
.icon-parents .path18:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(100, 70, 60);
}
.icon-parents .path19:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(230, 175, 120);
}
.icon-parents .path20:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(210, 155, 110);
}
.icon-parents .path21:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(210, 155, 110);
}
.icon-parents .path22:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 220, 100);
}
.icon-parents .path23:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(210, 155, 110);
}
.icon-parents .path24:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(240, 192, 135);
}
.icon-parents .path25:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(230, 175, 120);
}
.icon-parents .path26:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(210, 155, 110);
}
.icon-parents .path27:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(100, 70, 60);
}
.icon-parents .path28:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(100, 70, 60);
}
.icon-parents .path29:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 200, 80);
}
.icon-parents .path30:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 200, 80);
}
.icon-parents .path31:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(200, 255, 130);
}
.icon-parents .path32:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(200, 255, 130);
}
.icon-big-data .path1:before {
  content: "\e974";
  color: rgb(185, 235, 255);
}
.icon-big-data .path2:before {
  content: "\e975";
  margin-left: -1.001953125em;
  color: rgb(113, 216, 253);
}
.icon-big-data .path3:before {
  content: "\e976";
  margin-left: -1.001953125em;
  color: rgb(84, 161, 255);
}
.icon-big-data .path4:before {
  content: "\e977";
  margin-left: -1.001953125em;
  color: rgb(160, 255, 170);
}
.icon-big-data .path5:before {
  content: "\e978";
  margin-left: -1.001953125em;
  color: rgb(249, 161, 255);
}
.icon-big-data .path6:before {
  content: "\e979";
  margin-left: -1.001953125em;
  color: rgb(255, 141, 149);
}
.icon-big-data .path7:before {
  content: "\e97a";
  margin-left: -1.001953125em;
  color: rgb(249, 161, 255);
}
.icon-big-data .path8:before {
  content: "\e97b";
  margin-left: -1.001953125em;
  color: rgb(255, 255, 255);
}
.icon-big-data .path9:before {
  content: "\e97c";
  margin-left: -1.001953125em;
  color: rgb(255, 185, 106);
}
.icon-big-data .path10:before {
  content: "\e97d";
  margin-left: -1.001953125em;
  color: rgb(135, 180, 95);
}
.icon-big-data .path11:before {
  content: "\e97e";
  margin-left: -1.001953125em;
  color: rgb(255, 205, 116);
}
