@font-face {
    font-family: 'Nunito-Regular';
    src: url('../assets/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-Black';
    src: url('../assets/fonts/Nunito-Black.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('../assets/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('../assets/fonts/Nunito-Light.ttf');
}

:root {
    --var-color-primary: #FF6C6C;
    --var-color-primary-weaken: rgba(255, 108, 108, 0.671);
    --var-color-default-text: #707070;
    --spinner-color: #FF6C6C;
}

* {
    outline: none;
}
/* Components */
.Post {
    transition: all 0.1s;
}

.Post:active {
    transform: scale(0.99);
}


/* Helpers/Utils */
.main {
    height: 100%;
    font-family: 'Nunito-Regular';
    color: var(--var-color-default-text);
    transition: all 0.3s;
}

.container {
    height: 100%;
}

.centerfy {
    text-align: center;
}

.flexy {
    display: flex;
    flex-direction: column;
}

.flexy-clean {
    display: flex;
}

.gridy {
    display: grid;
    height: 100%;
}

.stretchy {
    margin-top: auto;
    margin-bottom: auto;
    height: 50vh;
}

.bottomfy {
    margin-top: auto;
}

.espaco10 {
    height: 10px;
    display: block;
}

.espaco15 {
    height: 15px;
    display: block;
}

.espaco20 {
    height: 20px;
    display: block;
}

.espaco25 {
    height: 25px;
    display: block;
}

.espaco30 {
    height: 30px;
    display: block;
}

.espaco40 {
    height: 40px;
    display: block;
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right
}

.icon {
    font-size: 90px;
}

/* Refactors */
.swiper-pagination {
    position: fixed;
}

.swiper-pagination-bullet-active {
    background: var(--var-color-primary);
}

.loading-wrapper {
    display: grid !important;
    text-align: center !important;
    border-radius: 8px !important;
    font-family: 'Nunito-Regular' !important;
    color: var(--var-color-primary-weaken);
    font-weight: lighter !important;
}

.loading-wrapper .loading-content {
    margin: 0px !important;
}

.loading-wrapper .loading-spinner {
    transform: scale(2);
    margin-bottom: 20px;
}

.popover-content {
    border-radius: 99px !important;
    box-shadow: 0px 4px 4px #80808078 !important;
    position: initial;
}

.popover-content p {
    margin: 0px;
}

.datetime-text {
    font-family: 'Nunito-Regular' !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    height: auto !important;
    min-height: auto !important;
}

.alert-wrapper,
.alert-wrapper.sc-ion-alert-md,
.alert-wrapper.sc-ion-alert-ios {
    border-radius: 20px;
    font-family: 'Nunito-Regular';
}

.alert-wrapper .alert-head h2 {
    color: rgb(255, 83, 83) !important;
    font-family: 'Nunito-Bold';
}

.alert-wrapper .alert-button-group span {
    color: #FF6C6C;
}

/* Defaults */
ion-toolbar {
    --background: linear-gradient(to right, rgb(255, 91, 91), rgba(255, 108, 108), rgb(252, 134, 134), rgba(255, 255, 8)) !important;
    border: none;
    font-family: 'Nunito-Bold';
    color: white;
}


ion-tab-bar {
    --background: transparent;
    background: linear-gradient(to right, rgb(255, 91, 91), rgba(255, 108, 108), rgb(252, 134, 134)) !important;
    border: none;
    --background-repeat: none;
}

ion-tab-button {
    font-family: 'Nunito-Bold';
    color: white;
}

ion-tab-button.tab-selected{
    color: rgb(255, 230, 0);
}

.mu-top {
    font-family: 'Nunito-Regular';
    color: white;
}

.mu-top ion-back-button {
    font-family: 'Nunito-Regular';
    --color: white;
    margin-left: 5px;
}

.mu-top ion-back-button span {
    font-family: 'Nunito-Regular';
    margin-top: auto;
    margin-bottom: auto;
    font-size: 21px;
}

/*mu-header*/
.mu-header {
    padding: 20px;
    background-image: url('../assets/images/cover.jpg');
    background-position: center;
    background-size: cover;
    height: 45vh;
    width: 100%;
}

.mu-cover {
    background-image: linear-gradient(to right, rgba(255, 108, 108), rgba(255, 255, 8));
    height: 45vh;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    filter: brightness(0.6)
}

.mu-header>* {
    z-index: 99 !important;
    position: relative;
}

.mu-header .mu-title {
    margin-top: auto;
    font-family: 'Nunito-Black';
    font-size: 3rem;
    color: var(--var-color-primary);
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.541);
    margin-bottom: 0px;
    text-align: left;
}

.mu-header .mu-description {
    font-family: 'Nunito-Bold';
    color: white;
    margin: 0px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.295);
    text-align: left;
}

/*mu-body*/
.mu-body {
    padding: 3.5%;
    font-family: 'Nunito-Regular';
}

.mu-body a {
    text-align: center;
    color: var(--var-color-primary);
    text-decoration: none;
}

.mu-body .mu-title {
    font-size: 30px;
    margin: 0px;
    text-align: center;
    color: var(--var-color-primary);
    font-family: 'Nunito-Bold';
    margin-top: auto;
    margin-bottom: auto;
}

.mu-body .mu-description {
    margin: 0px;
    color: var(--var-color-primary);
    font-family: 'Nunito-Bold';
}

.mu-body .mu-summary {
    margin: 0px;
    color: #222428;
}

/*mu-input*/
.mu-input {
    border-style: solid;
    border-width: 1.2px;
    border-color: var(--var-color-primary);
    width: 70%;
    padding: 10px;
    border-radius: 99px;
    margin-left: auto;
    margin-right: auto;
    color: var(--var-color-default-text);
    font-size: 20px;
}

.mu-input-half {
    border-style: solid;
    border-width: 1.2px;
    border-color: var(--var-color-primary);
    width: 50%;
    min-height: 36px;
    padding: 10px;
    border-radius: 99px;
    margin-left: auto;
    margin-right: auto;
    color: var(--var-color-default-text);
    font-size: 17px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.mu-input-large {
    border-style: solid;
    border-width: 1.2px;
    border-color: var(--var-color-primary);
    width: 100%;
    min-height: 36px;
    padding: 10px;
    border-radius: 99px;
    margin-left: auto;
    margin-right: auto;
    color: var(--var-color-default-text);
    font-size: 20px;
}

/*mu-button*/
.mu-button {
    border-radius: 99px;
    background: linear-gradient(135deg, rgba(255, 255, 102, 1) 0%, rgba(255, 108, 108, 1) 59%, rgba(255, 108, 108, 1) 100%);
    color: white;
    width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s;
}

.mu-button:active {
    filter: brightness(1.1);
    transform: scale(0.99);
}

.mu-button.secondary {
    border-radius: 99px;
    background: rgba(255, 108, 108, 1);
    color: white;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s;
}

.mu-button h4 {
    margin: 0px;
    font-size: 22px;
    font-family: 'Nunito-Bold';
    color: white;
    text-align: center;
}

.mu-button.secondary h4 {
    font-size: 15px;
}

/*mu-label*/

.mu-body label {
    color: #3f3f3f;
}

@media (max-width:360px) {
    /* smartphones, iPhone, portrait 480x320 phones */

    .espaco10 {
        height: 0px;
        display: block;
    }

    .espaco15 {
        height: 5px;
        display: block;
    }

    .espaco20 {
        height: 10px;
        display: block;
    }

    .espaco25 {
        height: 15px;
        display: block;
    }

    .icon {
        font-size: 70px;
    }

    .mu-input {
        border-style: solid;
        border-width: 1.2px;
        border-color: var(--var-color-primary);
        width: 80%;
        padding: 9px;
        border-radius: 99px;
        margin-left: auto;
        margin-right: auto;
        color: var(--var-color-default-text);
        font-size: 15px;
    }

    .mu-body .mu-title {
        font-size: 20px;
    }

    .mu-summary {
        font-size: 15px;
    }

    .mu-button {
        padding: 5px;
    }

    .mu-button.secondary {
        padding: 5px;
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}